@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@1000&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

 .navbar {
    border-bottom: 1px solid rgb(215, 213, 213);
    
 }

 .nav-item {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
 }

 .nav-item:hover {
    color: #006241;
 }
 #find, #sign, #join {
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
 }

 #sign {
    border: 1px solid black;
    border-radius: 20px;
 }

 #join {
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
 }

 .card {
    border: none;
    border-radius: 0%;

 }
 .card-img-top {
   border-radius: 0%;
 }
 section {
    padding-top: 40px;
    
 }

 .summer-pic {
    width: 50vw;
 }

 .cool {
    background-color: #006241;
    color: white;
 }

 .cool-title {
    margin-top: 20vh;
    font-weight: 500;
    font-size: 50px;
 }

 .cool-text {
    font-size: 24px;
    font-weight: 500;
 }

 .join {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: 600;  
 }

 .join:hover {
    background-color: #013a27;
    border: 1px solid white;
 }

 .tropical {
    background-color: #eb81a5;
 }

 .tropical-title {
    margin-top: 20vh;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 2px;
    color: #1e3932;
 }

 .tropical-text {
    font-size: 23px;
    font-weight: 400;
    color: #1e3932;
 }

 .order {
    color: #1e3932;
    border: 1px solid #1e3932;
    border-radius: 20px;
    font-weight: 600;
 }

 .order:hover {
    border: 1px solid #1e3932;
    background-color: #f18aad;
 }

 .summer-max {
    background-color: #8f8bf4;
 }

 .summer-max-title {
    margin-top: 20vh;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 2px;
    color: black;
 }

 .summer-max-text {
    font-size: 22px;
    font-weight: 400;
    color: black;
 }

 #order-now {
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 600;
 }

 #order-now:hover {
    border: 1px solid black;
    background-color: #8683e1;
 }

 .start-hearty {
    background-color: #fc6446;
 }

 .start-hearty-title {
    margin-top: 20vh;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 2px;
    color: black;
 }

 .start-hearty-text {
    font-size: 22px;
    font-weight: 400;
    color: black;
 }

 #order-hearty {
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 600;
 }

 #order-hearty:hover {
   border: 1px solid black;
   background-color: #df5a3f;
 }

 .offer {
   font-size: 13px;
   text-align: justify;
 }

 .about-title {
   font-weight: 400;
   font-size: 18px;
   color: black;
   
 }

 .about-link {
   color: rgb(99, 99, 99);
   font-weight: 400;
   font-size: 16px;
   text-decoration: none;
 }

 .about-link:hover {
   color: black;
 }
 .abouts { 
   border-top: 1px solid rgb(209, 208, 208);
   border-bottom: 1px solid rgb(209, 208, 208);
 }

 #social-link {
   font-size: 20px;
   color: white;
   background-color: black;
   border-radius: 20px;
 }

 .link {
   text-decoration: none;
   color: black;
   font-size: 16px;
 }

 .line {
   text-decoration: none;
   color: rgb(99, 99, 99);
   font-size: 20px;
 }

 .copyright {
   color: rgb(99, 99, 99);
 }